## 빅데이터 실습

### 스타벅스매장 입지 분석

#### 데이터 수집

##### 웹사이트에서 제공 받은 엑셀파일 수정

In [1]:
# 필수 라이브러리 사용등록
import pandas as pd
import numpy as np

In [2]:
dfSeoulManicipality = pd.read_excel('./data/전국_시군구_위경도.xlsx')

In [11]:
condition = dfSeoulManicipality['do'] == '서울'

dfSeoulGeo = dfSeoulManicipality[condition]

In [13]:
# dfSeoulGeo.reset_index(drop=True,inplace=True) 저장해서 불러올 것이라면 굳이 없어도 되는 작업

In [16]:
dfSeoulGeo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   docity     25 non-null     object
 1   do         25 non-null     object
 2   city       25 non-null     object
 3   longitude  25 non-null     float64
 4   latitude   25 non-null     float64
dtypes: float64(2), object(3)
memory usage: 1.1+ KB

In [17]:
# 필요로 만든 데이터는 항상 저장해둘 것
dfSeoulGeo.to_excel('./data/수정_서울_시군구_위경도.xlsx',index=False)

In [34]:
# 서울시 구별 인구데이터 로드
dfSeoulPop = pd.read_excel('./data/서울시_구별_인구데이터.xlsx',header=2,usecols='B,O:Z')
dfSeoulPop.columns = ['구별','세대소계','소계','남자','여자','한국인소계','남자','여자','등록외국인소계','남자','여자','세대당인구','65세 이상 고령자']
dfSeoulPop.head()

g:\DEV\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,구별,세대소계,소계,남자,여자,한국인소계,남자,여자,등록외국인소계,남자,여자,세대당인구,65세 이상 고령자
0,소계,4469417,9638799,4649446,4989353,9386034,4540031,4846003,252765,109415,143350,2.10,1743696
1,종로구,72067,150453,71890,78563,139417,67306,72111,11036,4584,6452,1.93,28764
2,중구,64714,131793,63495,68298,121312,58659,62653,10481,4836,5645,1.87,25920
3,용산구,107825,227106,109826,117280,213151,102312,110839,13955,7514,6441,1.98,39747
4,성동구,133089,284766,137620,147146,277361,134519,142842,7405,3101,4304,2.08,49462

In [35]:
## 서울시 인구데이터 저장
dfSeoulPop.to_excel('./data/수정_서울시_구별_인구데이터.xlsx',index=False)

In [41]:
## 서울시 구별 사업체현황 로드
dfSeoulWork = pd.read_excel('./data/서울시_구별_사업체현황.xlsx',header=4,usecols='B:G')
dfSeoulWork.columns=['구','소계','여성대표자','종사자수 소계','남자','여자']
dfSeoulWork.head()

g:\DEV\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

     구       소계   여성대표자  종사자수 소계       남자       여자
0   소계  1188091  407948  5771226  3218529  2552697
1  종로구    48361   16563   275063   153210   121853
2   중구    70308   25794   386564   213782   172782
3  용산구    29680   10454   152605    84314    68291
4  성동구    41665   13447   203221   116978    86243

In [42]:
dfSeoulWork.to_excel('./data/수정_서울_구별사업체.xlsx',index=False)