## 빅데이터 실습

### COVID19, 코로나의 영향으로 중국인 관광객이 얼마나 줄었을까?

#### 데이터 수집
- 한국관광공사, [한국관광 데이터렙](https://datalab.visitkorea.or.kr/datalab/portal/main/getMainForm.do) 데이터
#### 데이터 로드 및 전처리
- 분석전 가장 중요한 단계

#### 분석
- 필요 요소를 분석
- 시각화, 결론 도출

In [2]:
import pandas as pd

In [4]:
kto_201901= pd.read_excel('./data/kto_201901.xlsx',header=1,usecols='a:g',skipfooter=4)

kto_201901

         국적      관광     상용    공용  유학/연수      기타       계
0      아시아주  765082  10837  1423  14087  125521  916950
1        일본  198805   2233   127    785    4576  206526
2        대만   86393     74    22    180    1285   87954
3        홍콩   34653     59     2     90    1092   35896
4       마카오    2506      2     0     17      45    2570
..      ...     ...    ...   ...    ...     ...     ...
62  아프리카 기타     768    718    90    206     908    2690
63     기타대륙      33      4     0      1      16      54
64     국적미상      33      4     0      1      16      54
65     교포소계       0      0     0      0   15526   15526
66       교포       0      0     0      0   15526   15526

[67 rows x 7 columns]